<form novalidate [formGroup]="form">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="username">
    <span class="error" *ngIf="submitted && form.controls['username'].hasError('required')">Please enter username</span>
    <span class="error" *ngIf="form.controls['username'].hasError('minlength')">Minimum letters should be four</span>
    <span class="error" *ngIf="form.controls['username'].hasError('maxlength')">Maximum letters should be six</span>
  </div>
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" formControlName="fullname">
    <span class="error" *ngIf="submitted && form.controls['fullname'].hasError('required')">Please enter fullname</span>
    <span class="error" *ngIf="form.controls['fullname'].hasError('minlength')">Minimum char 4</span>
    <span class="error" *ngIf="form.controls['fullname'].hasError('maxlength')" >Maximum char 6</span>

  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="number" class="form-control" formControlName="age">
    <span class="error" *ngIf="submitted && form.controls['age'].hasError('required')">Age is required</span>
    <span class="error" *ngIf="submitted && form.controls['age'].hasError('pattern')">Age</span>

  </div>
  <div class="form-group">
    <label>Gender</label>
    <div class="form-control">
      <label class="radio-inline">
        <input type="radio" value="male" formControlName="gender">
        Male
      </label>
      <label class="radio-inline">
        <input type="radio" value="female" formControlName="gender">
        Female
      </label>
      <label class="radio-inline">
        <input type="radio" value="others" formControlName="gender">
        Others
      </label>
    </div>

    <span class="error" *ngIf="submitted && form.controls['gender'].hasError('required')">Enter gender</span>

  </div>
  <div class="form-group">
    <label>Highest qualification</label>
    <div class="form-control">
      <label class="checkbox-inline">
        <input type="checkbox" value="Xth" formControlName="education">
        Xth
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="XIIth" formControlName="education">
        XIIth
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="btech" formControlName="education">
        B.tech
      </label>
    </div>
    <span class="error" *ngIf="submitted && form.controls['education'].hasError('required')">Mention highest qualification</span>

  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email">
    <span class="error" *ngIf="submitted && form.controls['email'].hasError('required')">Enter email</span>
    <span class="error" *ngIf="submitted && form.controls['email'].hasError('pattern')">Characters not allowed</span>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password">
    <span class="error" *ngIf="submitted && form.controls['password'].hasError('required')">Enter password</span>


  </div>
  <div class="form-group">
    <button class="btn btn-success" (click)="onSubmit()">Submit</button>
  </div>
</form>
